* {
    margin: 0;
    padding: 0;
}
body {
background-color: #212121;
}

main{
    width: 1232px;
    margin: 0 auto;
}

#logo {
    width: 50px;
    height: 70px;
    margin-left: 32px;
}

.header-nav{
    width: 100%;
    background: rgba(255, 255, 255, 0);
    position: fixed;
    display: inline;
    z-index: 2;
}

header .header-nav a {
    color: #d2d2d2;
    text-decoration: none;
    padding: 3px;
    font-size: 1em;
}

.header-nav a.active {
    color: rgb(0, 238, 255);
}

.header-nav a.active:hover {
    color: rgb(255, 255, 255);
}


.header-nav ul li a:hover{
    background-color: #0eaefe8d;
}

header .header-nav ul{
    float: right;
    margin-right: 19px;
    margin-top: 30px;

}

header .header-nav ul li{
    text-align: right;
    margin: 10px;
    font-family: "Lora", serif;
    display: inline;
    font-size: 1em;
    font-weight: bold;
}


#video-placeholder {
    position: relative;
}

#home-video {
    width: 100vw;
    height: 100%;
}

.video-caption {
    position: absolute;
    font-family: "Spectral", serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 238, 255);
    font-size: 2.5em;
    z-index: 2;
    text-align: center;
}
.video-caption h1{
    font-weight: 800;
    font-style: normal;
}

.video-caption p{
    font-size: 0.5em;
    color: #fff;
    margin-top: -20px;
}

#new-page-space {
    margin-top: 150px;
}

#switchable-text {
    font-family: "Spectral", serif;
    color: #fff;
    transition: opacity 0.5s ease-in-out;
}

.intro{
    width: 700px;
}

.content-container{
    margin: 0 auto;
    width: 1232px;
}
.content-container h1, #iam{
    font-family: "Spectral", serif;
    color: white;
    font-size: 3em;
    line-height: 1.4;
    letter-spacing: 0.05em;
}
#name {
    color: rgb(0, 238, 255);
}

#bio {
    font-style: italic;
    padding-top: 40px;
    padding-bottom: 300px;
    font-family: "Spectral", serif;
    color: white;
    max-height: 500px;
}

#profile-photo {
    margin-top: -140px;
    padding-left: 30px;
    float: right;
    height: 750px;
    width: 500px;
}

.content-container #iam{
    color: white;
}

.content-container #iam, #switchable-text{
    display: inline;
    font-size: 3.5em;
    line-height: 1.4;
    letter-spacing: 0.05em;
}

footer {
    background-color: #282828;
    height: 250px;
    text-align: center;
    color: #ffffff;
}

footer ol{
    padding: 10px 0 20px 0;
}

footer ol li{
    font-family: "Spectral", serif;
    display: inline;
    margin: 5px;
    color: #ffffff;
}

footer ol li a{
    color: #ffffff;
    text-decoration: none;
}
.contact-icons img.icon {
    padding-top: 50px;
    display: inline;
    width: 36px;
    height: 36px;
    margin: 20px 10px;
}

.gallery{
    width:1232px;
    margin: 0 auto;
    padding-top: 150px;
}

.gallery h1, .highlight{
    display: inline;
    color: white;
    font-size: 4em;
    font-family: "Spectral", serif;
}

#highlight{
    color: rgb(0, 238, 255);
}

.img-container {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 20px;
  }

.half1{
    grid-column: span 6;
    height: 350px;
    background-image: url("assets/imgs/zoo.jpg");
}

.half-half1{
    grid-column: span 3;
    height: 350px;
    background-image: url("assets/imgs/flower1.jpg");
}

.half-half2{
    grid-column: span 3;
    height: 350px;
    background-image: url("assets/imgs/flower2.jpg");
}

.half1, .half-half1, .half-half2, .row-vid, .half2, .half3{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
    filter:sepia(30%);
}

.half1:hover, .half-half1:hover, .half-half2:hover, .row-vid:hover, .half2:hover, .half3:hover, .row-img:hover, .row-vid:hover{
    transform: scale(1.02);
    filter: none;
}

.row-vid:hover{
    filter: none;

}

.row-vid{
    grid-column: span 12;
    height: auto;
    filter:sepia(30%);
}

.background-video{
    width: 100%;
}

.half2{
    grid-column: span 6;
    height: 380px;
    background-image: url("assets/imgs/chili.jpg");
}
.half3{
    grid-column: span 6;
    height: 380px;
    background-image: url("assets/imgs/plant.jpg");
}

.row-img{
    transition: transform 0.3s ease-in-out;
    filter:sepia(20%);
    background-position: top;
    background-size: cover;
    grid-column: span 12;
    height: 55vh;
    background-image: url("assets/imgs/luisa.jpg");
}

.project{
    padding-top: 150px;
    width:1232px;
    margin: 0 auto;
}

.project h1{
    color: white;
    font-size: 4em;
    font-family: "Spectral", serif;
}

#project-title{
    padding: 4px;
    background-color:#69686825;
    border-radius: 8px;
    color: rgb(193, 211, 248);
    font-size: 2em;
    font-family: "Spectral", serif;
}

.project-container{
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 10px;
}

.project-1-p{
    font-family: "Spectral", serif;
    color: white;
    grid-column: span 4;
    padding-left: 30px;
}

.project-1-img{
    grid-column: span 2;
    height: 350px;
    width: 100%;
}

.project-2-p{
    font-family: "Spectral", serif;
    padding-top: 60px;
    color: white;
    grid-column: span 4;
}

.project-2-img{
    padding-top: 60px;
    grid-column: span 2;
    height: 350px;
    width: 100%;
}

.game{
    padding-top: 150px;
    padding-bottom: 200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    width:1232px;
    margin: 0 auto;
    gap: 20px;
}

.game h1{
    grid-column: span 4;
    color: white;
    font-size: 4em;
    font-family: "Spectral", serif;
}

.game-p{
    font-family: "Spectral", serif;
    grid-column: span 4;
    width: 606px;
    color: white;
}

.project-3-img{
    margin-top: -140px;
    grid-column: span 4;
    height: 350px;
    width: 606px;
}
#holder{
    grid-column: span 4;
}

#game-title{
    grid-column: span 4;
    height: 30px;
    padding: 4px;
    color: rgb(226, 206, 73);
    font-size: 2em;
    font-family: "Spectral", serif;
}

#game-des{
    border-radius: 8px;
    color: #fff;
    padding:4px 30px;
    grid-column: span 4;
    font-style: italic;
}

.resume-intro{
    width:1232px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 500px;
}

.int{
    padding-top: 100px;
    color: white;
    font-size: 4em;
    font-family: "Spectral", serif;
}

.int2{
    padding-top: 20px;
    color: white;
    font-size: 4em;
    font-family: "Spectral", serif;
}



.switchable-text{
    font-size: 4em;
    font-family: "Spectral", serif;
    color: #BBDEFB;
    transition: opacity 0.5s ease-in-out;
}

#resume-photo{
    height: 850px;
    width: 700px;
    float: right;
}

#resume-conno{
    background-image: url("assets/imgs/spotlight-resume.png");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#resume-container{
    padding-top: 50px;
    padding-bottom: 200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    width:1232px;
    margin: 0 auto;
    gap: 20px;
}

#resume-name{
    grid-column: span 4;
    font-size: 4em;
    font-family: "Spectral", serif;
    color: rgb(226, 206, 73);
}


#aboutme{
    grid-column: span 12;
    font-family: "Spectral", serif;
    color: #ffffff;
    font-size: 1em;
}

#resume-contact{
    grid-column: span 10;
    margin-top: -20px;
    font-family: "Spectral", serif;
    color: #e7e8c5;
    font-size: 1em;
    padding-bottom: 25px;
}

#resume-contact a{
    text-decoration: none;
    color: #e7e8c5;
}

#aboutme h1{
    color: #BBDEFB;
    font-size: 1.6em;
    font-family: "Spectral", serif;
}

#aboutme p{
    background-color: #6165694b;
    padding: 35px;
}

#skill-title, #experience-title, #projects-title{
    grid-column: span 4;
    color: #BBDEFB;
    font-size: 1.6em;
    font-family: "Spectral", serif;
    padding-top: 25px;
    margin-bottom: -20px;
}

#edu-title{
    margin-bottom: -20px;
    grid-column: span 12;
    color: #BBDEFB;
    font-size: 1.6em;
    font-family: "Spectral", serif;
    padding-top: 25px;
}


#skills{
    grid-column: span 4;
    background-color: #414644;
    padding: 25px;
    font-family: "Spectral", serif;
    color: white;
    font-size: 1em;

}

#skills h3, #experience h3, #project h3{
    font-size: 1.2em;
    color: #eaeca6;
}

#experience {
    padding: 25px;
    grid-column: span 4;
    font-family: "Spectral", serif;
    color: white;
    background-color: #2E303B;
}

#experience p{
    font-size: 0.9em;
}

#experience ul{
    margin-top: -10px;
    font-size: 1em;
}


#project {
    padding: 25px;
    grid-column: span 4;
    font-family: "Spectral", serif;
    color: white;
    background-color: #3E3939;
    font-size: 1em;
}

#edu-date{
    color: white;
    font-family: "Spectral", serif;
    font-size: 1em;
    float: right;
}

#education{
    font-size: 1em;
    font-family: "Spectral", serif;
    color: white;
}

#education p{
    padding: 15px 25px;
}

#edu-container{
    grid-column: span 12;
    background-color: #6165694b;
}

.school{
    font-size: 1.2em;
    color: #eaeca6;
}
